:root {
  --main-bg-color: hsl(0, 0%, 100%);
  --qr-bg-color: hsl(218, 44%, 22%);
  --color-gray: hsl(212, 45%, 89%);
  --color-gray-blue: hsl(220, 15%, 55%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-gray);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans", sans-serif;
}
